.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 29px;
  border-radius: 15px;
  background: #f4e041;
  transition-duration: 0.3s;
  border: none;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.button:hover {
  transition-duration: 0.3s;
  background: #ffe302;
}
.button:disabled {
  background: #b4b4b4;
  color: #fff;
}
