.file{
    display: flex;
    align-items: center;
    border: 1px solid #7E7E7E;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}
.input{
    display: none;
}
.fakeInput{
    padding: 14px 15px;
    position: relative;
}
.fakeInput::before{
    content: '';
    top: -4.5px;
    left: 2px;
    right: 0;
    bottom: 0;
    position: absolute;
    height: 120%;
    width: 99%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.file::before{
    content: '';
    top: 0;
    left: -1px;
    right: 0;
    bottom: 0;
    position: absolute;
    height: 100%;
    border-left: 2px solid black;
    border-radius: 4px;
}
.fileCustom{
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #7E7E7E;
    padding: 14px 15px;
    border-left: 1px solid #7E7E7E;
}