@import "fonts.css";
@import "variables.css";

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #E5E5E5;
}
.container{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

//header
.header{
  position: fixed;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.header-wrapper{
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.header-auth{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

//first-screen
.first-screen{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
  height: calc(100vh - 60px);
  background: center / cover no-repeat url("../assetc/bg.webp");
}
.block-description{
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 21px;
  margin-bottom: 32px;
}
.heading{
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}
.heading-screen{
  @extend .heading;
  color: #FFFFFF;
}
.description{
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

//users
.users-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
}
.heading-users{
  @extend .heading;
  color: black;
  margin-bottom: 50px;
}
.user-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
  width: 100%;
}
.block-img{
  display: block;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: grey;
}
.user-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 15px;
  width: 100%;
  max-width: 344px;
}

.person-name{
  text-align: center;
  width: 100%;
}
.person-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}
.person-mail{
  word-wrap: break-word;
}
.pagination{
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}
.pagination-item{
  cursor: pointer;
}
.pagination-itemCurrent {
  color: #F4E041;
  transform: scale(1.1);
}

//auth
.auth-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
}
.heading-auth{
  @extend .heading;
  color: black;
  margin-bottom: 50px;
}
.form-base{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 380px;
}
.form-personContact{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  margin-bottom: 25px;
}

//select
.form-personSelect{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  width: 100%;
  margin-bottom: 50px;
}
.person-select{
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  filter: drop-shadow(0px, 8px,5px, rgba(0, 0, 0, 0.87));
  color: rgba(0, 0, 0, 0.87);
}

//upload
.form-personUpload{
  margin-bottom: 50px;
  width: 100%;
}

//media
@media all and (max-width: 1024px) {
  .user-card{
    max-width: 282px;
  }
}
@media all and (max-width: 360px) {
  .block-description{
    width: 328px;
  }
  .logo-img{
    width: 38px;
    height: 26px;
  }
  .logo-title{
    font-size: 11px;
  }
}