@import "fonts.css";
@import "variables.css";

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  max-width: 798px;
  margin: 0 auto;
  padding: 0 15px;
}

//header
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}